<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333949308882-nc8ejsdp12gh2r8n41iki61n91hqsthe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333949308882-nc8ejsdp12gh2r8n41iki61n91hqsthe</string>
	<key>API_KEY</key>
	<string>AIzaSyDT_6B7GlT_JJj1MeMatK39-BwCkgYS_AA</string>
	<key>GCM_SENDER_ID</key>
	<string>333949308882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eecommerce-c229f</string>
	<key>STORAGE_BUCKET</key>
	<string>eecommerce-c229f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333949308882:ios:cb3f82179ce7004d09020b</string>
</dict>
</plist>